.articles-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.top-stories {
  font-size: 4rem;
  max-width: 100%;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}