label {
  font-size: 1.75rem;
  padding: 0.5%
}

.search-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}

.search-form {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

}

.input-type {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  min-width: max-content;
  max-width: 100vw;
}

.section-input {
  min-width: ;
}

.sort-options {
 width: 20vw;
}

.title-search {
  width: 40vw;
}

.title-input {
  min-width: 75%;
  width: auto;
  max-width: 100vw;
}

.clear-button {
  width: max-content;
  margin: 0.5%;
}