.article-card {
  display: flex;
  flex-direction: column;
  width: 15vw;
  padding: 1%;
  margin: 1%;
  border: 2px solid #000000;
  text-decoration: none;
  color: #000000
}

.article-image {
  width: 15vw;
  height: auto;
}