.details-view {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.details-image {
  width: 45vw;
  height: auto;
  padding: 1%;
  margin: 1%;
}

.details-info {
  width: 45vw;
  height: auto;
  padding: 1%;
  margin: 1%;
}

.sections {
  display: flex;
}

.details-title {
  font-size: 2.25rem;
}

.section-name {
  text-align: center;
  margin: 0.25%;
  padding: 1%;
  border: 2px solid #000000
}

.home-button {
  margin: 0.25%;
}