.details-view {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex: 1 1 100px;
  width: 100%;
}

.image-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 45vw;
  max-width: 100%;
  padding: 1%;
  margin: 1%;
}

.details-image {
  width: 100%;
  height: auto;
}

.details-info {
  min-width: 45vw;
  width: auto;
  max-width: 100%;
  padding: 1%;
  margin: 1%;
}

.word-container {
  display: flex;
  flex-wrap: wrap;
}

.details-title {
  font-size: 2.25rem;
}

.words {
  text-align: center;
  margin: 0.25%;
  padding: 1%;
  border: 2px solid #000000
}

.home-button {
  margin: 0.25%;
}